body {
    text-align: center;
    font-family: Helvetica;
}

div {
    display: block;
}

.flatiron {
    background-image: url("../../resources/images/the-flatiron-building.png");
    background-repeat: no-repeat;
}

.flatiron div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu a {
    text-decoration: underline;
    font-size: 18px;
    color: white; 
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

.flatiron h1, .flatiron h2, .flatiron h3 {
    color: white;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 14px;
}

#footer{
    font-family: Helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
    text-align: left;
}

#footer a {
    text-decoration: underline;
}

.copyright::after {
    content: " " attr(data-date);
}
